/* CSS by ///ADD/// YOUR NAME */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */

#skip{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

/* ///ADD/// Navigation Styles */
.menu-button, #menu-toggle {
  visibility: hidden;
  height: 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin-left: 30px;
  padding: 5px 20px;
  gap: 25px;
  
}

ul.menu li {
  float: left;
  
}

.menu a {
  display: flex;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  border: hidden;
  border-width: 15px 20px;
  background-color: #E63946;
  
}

.menu a:hover {
  background-color: #333;
}

/* ///ADD/// Global Layout Styles */
 body {
    background-color: #F1FAEE;
        margin: 0;
        
         
    }

    header {
        background-color: #1D3557;;
        padding: 30px;
    }

    #main-content {
      column-count: 2;
      margin-left: 60px;
      
    }

    .breaking-news-grid {
      max-width: 600px;
      gap: 40px;
    }

    .video-box {
      border: 1px solid black;
      padding: 15px;
      background-color: #E63946;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

    }

    video {
       width: 100%;
      height: auto;
    }

 .featured-grid {
    display: grid;
    grid-template-columns: auto auto auto;
justify-content: space-evenly;
    }

.news-box {
    border: 1px solid black;
  max-width: 250px;
  gap: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
margin: 20px;
}    


    footer {
        background-color: #1D3557;;
        padding: 15px;
        text-align: center;
    }

input, button {
  font: inherit;
} 

form {
  display: grid;
  gap: 1rem;
  grid-template-columns:  1fr 1fr;
  border: 1px solid black;
  background-color: #E63946;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin: 25px 60px;
  
}

.text-form {
  display: grid;
  color: white;

}

input[type=text] {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  width: 90%;
  padding: 12px;
  margin-left: 10px;
  box-sizing: border-box;
}

.news-group {
  display: grid;
  grid-template-columns: auto auto auto;
justify-content: space-between;
  align-items: center;
  color: white;
  width: 80%;
  gap: 3px;
}


fieldset{
  border: 1px solid black;
  margin: 25px;
  padding: 5px;
  grid-column: 1 /-1;
  
}

fieldset legend {
  color: white;
  text-transform: uppercase;
  border:#333;
  padding-left: 1rem;
}

input[type="checkbox"] {
width: 20px;
height: 20px;
margin: 10px;
}

.button {
      position: relative;
      bottom: 20px; 
      right: -500px;   
   }

input[type=button], input[type=submit], input[type=reset] {
  font-family: 'Source sans 3';
  background-color: #1D3557;
   text-transform: uppercase;
  width: 80%;
   border: none;
  color: white;
  padding: 16px 32px;
    justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    
}

/* ///ADD/// Global Text Styles */

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300 900;
  font-stretch: 87% 112%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v33/u-4m0qyriQwlOrhSvowK_l5-eRZDf-LHrw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

h1 {
font-style: 'Merriweather', serif;
font-size: 45px;
text-align: left;
margin-left: 45px;
color: white;

}

.menu {
  font-family: 'Source sans 3';
  text-transform: uppercase;
  font-weight: normal;
  font-size: x-large;
}

.tagline {
  text-align: left;
  margin-left: 35px;
  color: white;
  padding: 15px;
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v19/nwpMtKy2OAdR1K-IwhWudF-R3woqauLY1HY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

h2 {
font-style: 'Merriweather', serif;
  font-size: 32px; 
  text-align: left;
  color: black;
  margin-left: 60px;
  padding: 15px;
}

#wtext {
  margin-left: 75px;
}

blockquote.tagline {
  font-family: 'Merriweather', serif;
  color: black;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
}


.video-box h3 {
 border-bottom: solid;
 border-color: white;
 border-width: .5px;
   font-size: 24px; 
  color: white;
  font-stretch: 85%;
}

.video-box p {
  color:white;
  font-size: 18px;
  padding: 15px;
}

.news-box h3 {
  border-bottom: solid;
  border-color: black;
  border-width: .5px;
  font-size: 24px;
}

#alerts {
  margin-left: 40px;
}

.alerts {
  margin-left: 60px;
}

#social {
  color: white;
}
  
/* ///ADD/// medium styles 620px */
@media screen and (min-width: 650px){
  h1{
    margin-left: 3rem;
  }}

/* ///ADD/// large styles 920px */
@media screen and (min-width: 950px){
  h1{
    margin-left: 3rem;
  }}

/* ///ADD/// x-large styles 1024px */
@media screen and (min-width: 1050px){
  h1{
    margin-left: 3rem;
  }}

/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

}